# Ignore virtual environments
/Bot/doc_ai_env/
/venv/
/env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Logs
*.log

# Environment va
riables
.env
.env.*

# Jupyter notebooks
.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
